@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
}

/* Google fonts used inn this project */

/* font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif; */

/* Google fonts used inn this project end here */
